.contact-list {
    width: 100%;
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.contact-list li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.contact-list li {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid grey;
}